<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hola Spring</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>

<body style="background: #150D48; color: #fff; font-family: Arial; padding: 2rem;">

    <!--Repite lo hecho en la header.html-->
    <div th:replace="fragments/header :: menu"></div>

    <h1>Hola, <span th:text="${nombre}"> 

    

    </span>!</h1><p>Mi primera aplicación Spring Boot está corriendo.</p>

    <a class="btn btn-secondary" href="/cursos">
        cursos
    </a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  
</body></html>